
SEG.Client/bin/Debug/net5.0/ref/SEG.Client.dll
SEG.Client/bin/Debug/net5.0/SEG.Client.deps.json
SEG.Client/bin/Debug/net5.0/SEG.Client.dll
SEG.Client/bin/Debug/net5.0/SEG.Client.pdb
SEG.Client/bin/Debug/net5.0/SEG.Domain.dll
SEG.Client/bin/Debug/net5.0/SEG.Domain.pdb
SEG.Client/bin/Debug/net5.0/Seguranca.Domain.dll
SEG.Client/bin/Debug/net5.0/Seguranca.Domain.pdb
SEG.Client/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SEG.Client/obj/Debug/net5.0/ref/SEG.Client.dll
SEG.Client/obj/Debug/net5.0/SEG.Client.AssemblyInfo.cs
SEG.Client/obj/Debug/net5.0/SEG.Client.AssemblyInfoInputs.cache
SEG.Client/obj/Debug/net5.0/SEG.Client.assets.cache
SEG.Client/obj/Debug/net5.0/SEG.Client.csproj.AssemblyReference.cache
SEG.Client/obj/Debug/net5.0/SEG.Client.csproj.CopyComplete
SEG.Client/obj/Debug/net5.0/SEG.Client.csproj.CoreCompileInputs.cache
SEG.Client/obj/Debug/net5.0/SEG.Client.csproj.FileListAbsolute.txt
SEG.Client/obj/Debug/net5.0/SEG.Client.dll
SEG.Client/obj/Debug/net5.0/SEG.Client.GeneratedMSBuildEditorConfig.editorconfig
SEG.Client/obj/Debug/net5.0/SEG.Client.pdb
SEG.Client/obj/project.assets.json
SEG.Client/obj/project.nuget.cache
SEG.Client/obj/SEG.Client.csproj.nuget.dgspec.json
SEG.Client/obj/SEG.Client.csproj.nuget.g.props
SEG.Client/obj/SEG.Client.csproj.nuget.g.targets
SEG.Domain/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SEG.Domain/obj/Debug/net5.0/ref/SEG.Domain.dll
SEG.Domain/obj/Debug/net5.0/SEG.Domain.AssemblyInfo.cs
SEG.Domain/obj/Debug/net5.0/SEG.Domain.AssemblyInfoInputs.cache
SEG.Domain/obj/Debug/net5.0/SEG.Domain.assets.cache
SEG.Domain/obj/Debug/net5.0/SEG.Domain.csproj.AssemblyReference.cache
SEG.Domain/obj/Debug/net5.0/SEG.Domain.csproj.CopyComplete
SEG.Domain/obj/Debug/net5.0/SEG.Domain.csproj.CoreCompileInputs.cache
SEG.Domain/obj/Debug/net5.0/SEG.Domain.csproj.FileListAbsolute.txt
SEG.Domain/obj/Debug/net5.0/SEG.Domain.dll
SEG.Domain/obj/Debug/net5.0/SEG.Domain.GeneratedMSBuildEditorConfig.editorconfig
SEG.Domain/obj/Debug/net5.0/SEG.Domain.pdb
SEG.Domain/obj/project.assets.json
SEG.Domain/obj/project.nuget.cache
SEG.Domain/obj/SEG.Domain.csproj.nuget.dgspec.json
SEG.Domain/obj/SEG.Domain.csproj.nuget.g.props
SEG.Domain/obj/SEG.Domain.csproj.nuget.g.targets
SEG.MVC/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
SEG.MVC/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/Humanizer.dll
SEG.MVC/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
SEG.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
SEG.MVC/bin/Debug/net5.0/Newtonsoft.Json.dll
SEG.MVC/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/ref/SEG.MVC.dll
SEG.MVC/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
SEG.MVC/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
SEG.MVC/bin/Debug/net5.0/SEG.Client.dll
SEG.MVC/bin/Debug/net5.0/SEG.Client.pdb
SEG.MVC/bin/Debug/net5.0/SEG.Domain.dll
SEG.MVC/bin/Debug/net5.0/SEG.Domain.pdb
SEG.MVC/bin/Debug/net5.0/SEG.MVC.deps.json
SEG.MVC/bin/Debug/net5.0/SEG.MVC.dll
SEG.MVC/bin/Debug/net5.0/SEG.MVC.exe
SEG.MVC/bin/Debug/net5.0/SEG.MVC.pdb
SEG.MVC/bin/Debug/net5.0/SEG.MVC.runtimeconfig.dev.json
SEG.MVC/bin/Debug/net5.0/SEG.MVC.runtimeconfig.json
SEG.MVC/bin/Debug/net5.0/SEG.MVC.Views.dll
SEG.MVC/bin/Debug/net5.0/SEG.MVC.Views.pdb
SEG.MVC/bin/Debug/net5.0/Seguranca.Domain.dll
SEG.MVC/bin/Debug/net5.0/Seguranca.Domain.pdb
SEG.MVC/bin/Debug/net5.0/System.Composition.AttributedModel.dll
SEG.MVC/bin/Debug/net5.0/System.Composition.Convention.dll
SEG.MVC/bin/Debug/net5.0/System.Composition.Hosting.dll
SEG.MVC/bin/Debug/net5.0/System.Composition.Runtime.dll
SEG.MVC/bin/Debug/net5.0/System.Composition.TypedParts.dll
SEG.MVC/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.Domain/bin/Debug/net5.0/ref/SEG.Domain.dll
SEG.Domain/bin/Debug/net5.0/SEG.Domain.deps.json
SEG.Domain/bin/Debug/net5.0/SEG.Domain.dll
SEG.Domain/bin/Debug/net5.0/SEG.Domain.pdb
SEG.Domain/bin/Debug/net5.0/Seguranca.Domain.dll
SEG.Domain/bin/Debug/net5.0/Seguranca.Domain.pdb
SEG.MVC/bin/Debug/net5.0/appsettings.Development.json
SEG.MVC/bin/Debug/net5.0/appsettings.json
SEG.MVC/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
SEG.MVC/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SEG.MVC/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
SEG.MVC/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
SEG.MVC/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SEG.MVC/obj/Debug/net5.0/apphost.exe
SEG.MVC/obj/Debug/net5.0/project.razor.json
SEG.MVC/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Conta/Login.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Conta/Register.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Conta/TrocaSenha.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Eventos/Create.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Eventos/Delete.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Eventos/Details.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Eventos/Edit.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Eventos/Index.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Formularios/Create.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Formularios/Delete.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Formularios/Details.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Formularios/Edit.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Formularios/EditEventos.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Formularios/Index.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Modulos/Create.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Modulos/Delete.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Modulos/Details.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Modulos/Edit.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Modulos/EditFormularios.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Modulos/Index.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Partial/_Usuario.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Perfis/Create.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Perfis/Delete.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Perfis/Details.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Perfis/Edit.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Perfis/EditRestricoes.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Perfis/Index.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Shared/_menu.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Shared/Error1.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Usuarios/Details.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Usuarios/Edit.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Usuarios/EditPerfis.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Usuarios/EditRestricoes.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/Razor/Views/Usuarios/Index.cshtml.g.cs
SEG.MVC/obj/Debug/net5.0/ref/SEG.MVC.dll
SEG.MVC/obj/Debug/net5.0/SEG.MVC.AssemblyInfo.cs
SEG.MVC/obj/Debug/net5.0/SEG.MVC.AssemblyInfoInputs.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.assets.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.csproj.AssemblyReference.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.csproj.CopyComplete
SEG.MVC/obj/Debug/net5.0/SEG.MVC.csproj.CoreCompileInputs.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.csproj.FileListAbsolute.txt
SEG.MVC/obj/Debug/net5.0/SEG.MVC.dll
SEG.MVC/obj/Debug/net5.0/SEG.MVC.GeneratedMSBuildEditorConfig.editorconfig
SEG.MVC/obj/Debug/net5.0/SEG.MVC.genruntimeconfig.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.MvcApplicationPartsAssemblyInfo.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.pdb
SEG.MVC/obj/Debug/net5.0/SEG.MVC.RazorAssemblyInfo.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.RazorAssemblyInfo.cs
SEG.MVC/obj/Debug/net5.0/SEG.MVC.RazorCoreGenerate.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.RazorTargetAssemblyInfo.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.RazorTargetAssemblyInfo.cs
SEG.MVC/obj/Debug/net5.0/SEG.MVC.TagHelpers.input.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.TagHelpers.output.cache
SEG.MVC/obj/Debug/net5.0/SEG.MVC.Views.dll
SEG.MVC/obj/Debug/net5.0/SEG.MVC.Views.pdb
SEG.MVC/obj/Debug/net5.0/staticwebassets/SEG.MVC.StaticWebAssets.Manifest.cache
SEG.MVC/obj/Debug/net5.0/staticwebassets/SEG.MVC.StaticWebAssets.xml
SEG.MVC/obj/project.assets.json
SEG.MVC/obj/project.nuget.cache
SEG.MVC/obj/SEG.MVC.csproj.nuget.dgspec.json
SEG.MVC/obj/SEG.MVC.csproj.nuget.g.props
SEG.MVC/obj/SEG.MVC.csproj.nuget.g.targets
.vs/SEG/config/applicationhost.config
.vs/SEG/DesignTimeBuild/.dtbcache.v2
.vs/SEG/v16/.suo
*.dll
*.pdb
SEG.UI/bin/Debug/net5.0/appsettings.Development.json
SEG.UI/bin/Debug/net5.0/appsettings.json
SEG.UI/bin/Debug/net5.0/SEG.UI.deps.json
SEG.UI/bin/Debug/net5.0/SEG.UI.exe
SEG.UI/bin/Debug/net5.0/SEG.UI.runtimeconfig.dev.json
SEG.UI/bin/Debug/net5.0/SEG.UI.runtimeconfig.json
*.cache
SEG.UI/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SEG.UI/obj/Debug/net5.0/apphost.exe
SEG.UI/obj/Debug/net5.0/project.razor.json
SEG.UI/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Conta/Login.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Conta/Register.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Conta/TrocaSenha.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Eventos/Create.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Eventos/Delete.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Eventos/Details.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Eventos/Edit.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Eventos/Index.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Formularios/Create.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Formularios/Delete.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Formularios/Details.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Formularios/Edit.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Formularios/EditEventos.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Formularios/Index.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Modulos/Create.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Modulos/Delete.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Modulos/Details.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Modulos/Edit.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Modulos/EditFormularios.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Modulos/Index.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Partial/_Usuario.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Perfis/Create.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Perfis/Delete.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Perfis/Details.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Perfis/Edit.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Perfis/EditRestricoes.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Perfis/Index.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Shared/_menu.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Shared/Error1.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Usuarios/Details.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Usuarios/Edit.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Usuarios/EditPerfis.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Usuarios/EditRestricoes.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/Razor/Views/Usuarios/Index.cshtml.g.cs
SEG.UI/obj/Debug/net5.0/SEG.UI.AssemblyInfo.cs
SEG.UI/obj/Debug/net5.0/SEG.UI.csproj.CopyComplete
SEG.UI/obj/Debug/net5.0/SEG.UI.csproj.FileListAbsolute.txt
SEG.UI/obj/Debug/net5.0/SEG.UI.GeneratedMSBuildEditorConfig.editorconfig
SEG.UI/obj/Debug/net5.0/SEG.UI.RazorAssemblyInfo.cs
SEG.UI/obj/Debug/net5.0/SEG.UI.RazorTargetAssemblyInfo.cs
SEG.UI/obj/Debug/net5.0/staticwebassets/SEG.UI.StaticWebAssets.xml
SEG.UI/obj/project.assets.json
SEG.UI/obj/SEG.UI.csproj.nuget.dgspec.json
SEG.UI/obj/SEG.UI.csproj.nuget.g.props
SEG.UI/obj/SEG.UI.csproj.nuget.g.targets
SEG.Service/bin/Debug/net5.0/SEG.Service.deps.json
SEG.Service/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SEG.Service/obj/Debug/net5.0/SEG.Service.AssemblyInfo.cs
SEG.Service/obj/Debug/net5.0/SEG.Service.csproj.CopyComplete
SEG.Service/obj/Debug/net5.0/SEG.Service.csproj.FileListAbsolute.txt
SEG.Service/obj/Debug/net5.0/SEG.Service.GeneratedMSBuildEditorConfig.editorconfig
SEG.Service/obj/project.assets.json
SEG.Service/obj/SEG.Service.csproj.nuget.dgspec.json
SEG.Service/obj/SEG.Service.csproj.nuget.g.props
SEG.Service/obj/SEG.Service.csproj.nuget.g.targets
